<body>
    <div class="main">
      <div class="container">
        <h2>Join Pocketbook</h2>
        
        <form>
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="What's your first name?">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="What's your last name?">
            </div>
            <div class="form-group">
                <label fo=r"email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="What's your e-mail address?">
            </div>
            <div class="form-group">
                <label for"password">Password</label>
                <input type="password" class="form-control" id="pwd" placeholder="What would you like your password to be?">
            </div>
            <button class="btn" type="submit">Create account</button>
        </form>
        
      </div>
    </div>     
</body>